@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --border-color: #D95F3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #338F9A, #7AA9A3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
   
}

.card {
    background: #1C4C70;
    width: 300px;
    height: 400px;
    border-radius:10px;
    text-align: center;
    color: #fff;
    box-shadow: 1px 1px 4px #000;
    overflow: hidden;
    margin: 0 25px;
}

.card h2 {
    margin-top: 35px;
}

.card p {
    color: var(--border-color);
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}

.card-img {
    width: 120px;
    height:120px;
    border: solid 4px var(--border-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    transform: translateY(25px);
    transition: 0.5s;

}

.px hr {
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    width: 60%;
  
}

.socials a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    margin: 25px 20px 20px;
}

.socials a:hover {
    color: #7AA9A3;
    transform: scale(1.5);
    transition: 0.3s;
    opacity: 0.8;
}

.card button {
    width: 135px;
    height: 42px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.card button:hover {
    background: var(--border-color);
}

.card-img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}


/* MOBILE */
@media (max-width: 46.1875em) { 
   .card {
        
    
   }
}